# Ignorar archivos de datos en todo el proyecto
*.csv
*.json
#*.webp
*.zip
*.xls*
*.xml
*.html

# Ignorar checkpoints de Jupyter
**/.ipynb_checkpoints/

# (opcional) Carpeta de datos entera si no quieres subir nada de ahí
data/
